.constrain {
	display: block;
	padding: 0 10px;
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
}

.flexxed {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

div.wpcf7 .ajax-loader {
	display: none;
}

.site-accent {
	background-color: #505050;
}

.social-media-links {
	width: 40%;
	max-width: 120px;

	&.flexxed {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row;
		        flex-flow: row;
		    -webkit-box-pack: justify;
		        -ms-flex-pack: justify;
		            justify-content: space-between;
	}

	a {
		position: relative;
		display: block;
		width: 20px;
		height: 24px;

		text-indent: -99999px;

		&.facebook-icon:before,
		&.twitter-icon:before,
		&.gplus-icon:before,
		&.linkedin-icon:before,
		&.youtube-icon:before,
		&.vimeo-icon:before,
		&.pinterest-icon:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: 0 auto;

			font-family: $fa;
			font-size: 18px;
			text-indent: 0;
		}

		&.facebook-icon:before {
			content: '\f09a';
		}

		&.twitter-icon:before {
			content: '\f099';
		}

		&.gplus-icon:before {
			content: '\f0d5';
		}

		&.linkedin-icon:before {
			content: '\f0e1';
		}

		&.youtube-icon:before {
			content: '\f16a';
			font-size: 16px;
		}

		&.vimeo-icon:before {
			content: '\f27d';
		}

		&.pinterest-icon:before {
			content: '\f231';
		}

	}
}

a.icons3 {
	width: 33%;
}

a.icons4 {
	width: 25%;
}

a.icons5 {
	width: 20%;
}

a.icons6 {
	width: 16.666%;
}

a.icons7 {
	width: 14.285%
}

a.icons8 {
	width: 12.5%;
}

.content-area {
	background: $white-color;
}

.motto {
	font-weight: 500;
	text-transform: uppercase;
}

.slider-btn {
	border: 2px solid;
	display: inline-block;
	font-family: $rale-font;
	font-size: 18px;
	letter-spacing: .5px;
	margin: 20px auto 0 auto;
	padding: 7px 0 5px 10px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	width: 80%;

	&:after {
		content: '\f105';
		font-family: $fa;
		position: absolute;
		right: 10px;
	}
}

a.slider-btn {
	color: $white-color;
}

.cta-btn {
	padding: 10px 15px;
}

.products-btn {
	background-color: $white-color;
	border: 1px solid;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,.15);
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,.15);
	display: block;
	font-size: 14px;
	padding: 5px 7px;
}

a.border-btn {
	border: 1px solid;
	display: inline-block;
	min-width: 200px;
	padding: 5px 15px;
	text-align: center;

	&.pdf {
		margin: 0 0 10px 0;
		min-width: 300px;
		padding: 5px 15px 5px 30px;
		position: relative;

		&:before {
			content: '\f1c1';
			font-family: $fa;
			left: 10px;
			position: absolute;
		}
	}

	&.docx {
		margin: 0 0 10px 0;
		min-width: 300px;
		padding: 5px 15px 5px 30px;
		position: relative;

		&:before {
			content: '\f1c2';
			font-family: $fa;
			left: 10px;
			position: absolute;			
		}
	}
}

.main-content-form {

	label {
		display: inline-block;
		font-size: 0.75em;
	}

	input, textarea {
		background-color: lighten( $lt-gray, 22% );
		margin: 0 0 10px 0;
		padding: 3px 5px !important;
		width: 100%;
	}

	input {

		&:last-of-type {
			margin: 0;
		}
	}

	input[type=submit] {
		padding: 12px !important;
	}
}

.back-to-top {
	display: block;
	border-radius: 3px;
	bottom: 10px;
	height: 44px;
	opacity: .5;
	position: fixed;
	right: -50px;
	width: 44px;
	z-index: 999;

	-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,.15);
	box-shadow: 2px 2px 5px 1px rgba(0,0,0,.15);

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

	&.visible {
		right: 10px;

		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
}

.back-to-top:after {
	color: $white-color;
	content: '\f0d8';
	display: block;
    font-family: 'FontAwesome', dingbats, Helvetica, sans-serif;
    font-size: 40px;
    left: 11px;
    position: absolute;
    top: 7px;
}
