/*--------------------------------------------------------------
# Main Content Layout Classes
--------------------------------------------------------------*/

// Homepage
.homepage.content-area {
	position: relative;
	margin-top: 100vh;
	z-index: 5;
}

.home-slider {
	position: fixed;
	height: 100vh;
	width: 100vw;

	.slide {
		background-size: cover;
	}

	.constrain {
		height: 100vh;
		position: relative;
	}

	h1, h2, h3 {
		border: 0 !important;
		color: initial !important;
		font-family: $rale-font;
		text-transform: initial;
	}
}

.hp-slider-element {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}

.slider-text {
	left: 0;
	margin: 0 auto;
	padding: 0 10px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 45%;
	width: 100%;
	z-index: 999;

	h2 {
		font-size: 36px;
		font-weight: 500;
		margin: 0;
		padding: 0;
	}

	p {
		font-weight: 300;
		text-transform: uppercase;
	}
}

.hm-vid-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: url('images/darth-stripe.png');
	display: block;
	width: 100%;
	z-index: 10;
}

.animated {
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
}

article {

	.home-section-block {

		.constrain {
			display: block;
		}
	}
}

.home-section-block {
	padding: 30px 0;

	h2 {
		font-family: $rale-font;
		font-weight: 700;
		margin: 0 0 10px 0;
		padding: 0;	
	}

	h2, h3 {
		border: 0;
		color: $darkest;
		text-transform: initial;
	}
}


.callout-blocks {
	background-color: $darkest;
	color: $white-color;
}

.callout-block {
	background-color: $md-gray;
	margin: 0 0 20px 0;

	img {
		display: block;
	}
}

.callout-block-info {
	padding: 20px 20px 30px 20px;
	text-align: center;

	.heading {
		font-family: $rale-font;
		font-size: 32px;
		margin: 0 0 30px 0;
		text-transform: uppercase;
	}

	.subheading {
		font-size: .9rem;
		letter-spacing: .5px;
		margin: 0 0 5px 0;
		text-transform: uppercase;
	}
}

.callout-block-text {
	line-height: 30px;
	margin: 0 0 30px 0;
}

.callout-block-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
}

a.callout-block-btn,
a.sub-content-btn {
	border: 2px solid;
	box-shadow: $med-shadow;
}

.testimonials {
	background-color: $lt-gray;

	.testimonial-slider {
		margin: 30px 0 0 0;
	}

	.testimonial-block {
		margin: 0 10px;
		text-align: center;
	}

	.testimonial-content {
		background-color: $white-color;
		box-shadow: $light-shadow;
		display: table;
		height: 275px;
		padding: 25px;
		position: relative;
		margin: 0 auto 50px auto;
		max-width: 290px;
		min-height: 275px;

		.testimonial-snippet {
			display: table-cell;
			font-style: italic;
			position: relative;
			vertical-align: middle;
			
			&:before {
				content: '\201C';
				display: inline-block;
				font-family: $rale-font;
				font-size: 3.5rem;
				height: 15px;
				margin: 0 10px 0 0;
				position: relative;
				top: 27px;
			}

			&:after {
				content: '\201D';
				display: inline-block;
				font-family: $rale-font;
				font-size: 3.5rem;
				height: 15px;
				line-height: .3rem;
				margin: 0;
				position: relative;
				top: 27px;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			bottom: -64px;
			left: calc( 50% - 41px );
			box-sizing: border-box;
			border: 2em solid black;
			border-color: transparent transparent $white-color $white-color;		
			transform-origin: 0 0;
			transform: rotate(-45deg);
			
			box-shadow: -2px 2px 1px -1px rgba(0,0,0,0.15);
		}
	}

	.client-name {
		font-family: $rale-font;
		font-size: 18px;
		font-weight: 700;
	}

	.client-info {
		color: $darkest;
		font-size: .9rem;
	}
}

.hp-simple-blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;

	.simple-block {
		margin: 0 0 10px 0;
		text-align: center;
	}
}

// Secondary Pages
.secondary {

	.header-image {
		min-height: 320px;
		background-attachment: fixed;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.main-block {
		padding: 30px 0 0 0;
	}

	.subtitle {
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.entry-title {
		text-transform: uppercase;
	}

	.loc-date {
		text-transform: uppercase;
	}

	.product-sidebar {
		margin: 0 0 20px 0;
	}

	#faqs {
		
		h3 {
			background-color: $lt-gray;
			margin: 0 0 10px 0;
			padding: 10px 10px 10px 50px;
			position: relative;

			&:before {
				border-radius: 30px;
				color: $white-color;
				content: '\f067';
				display: block;
				font-family: $fa;
				height: 30px;
				left: 10px;
				padding: 3px 0 0 1px;
				position: absolute;
				text-align: center;
				top: 8px;
				width: 30px;
			}

			&.opened {
				background-color: $md-gray;
				color: $white-color !important;

				&:before {
					border-radius: 30px;
					content: '\f068';
					display: block;
					font-family: $fa;
					height: 30px;
					left: 10px;
					padding: 3px 0 0 0;
					position: absolute;
					text-align: center;
					width: 30px;
				}
			}
		}

		p {
			display: none;
			overflow: hidden;
			margin: 0;
			padding: 10px;
		}
	}

	.cta-btn {
		margin: 20px 0 0 0;
	}
}

.sidebar-gallery {

	.instructions {
		display: inline-block;
		font-size: 14px;
		margin: 0 0 10px 0;
	}

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
				flex-direction: column;
		list-style-type: none;		
		margin: 0;
		padding: 0;

		li {
			list-style: none;

			&:before {
				content: '';
			}
		}
	}
}

article {

	ul.menu {
		-webkit-column-width: 100%;
		        column-width: 100%;
		margin: 0;

		li {
			font-size: initial;
			margin: 0;
			padding: 0;
	
			&:before {
				content: '';
			}
		}
	}
}

// Products and Project Listing Pages
.page-template-products-template,
.page-template-projects-template,
.page-template-advantages-template,
.page-template-full-template {

	.site-content {
		padding: 145px 0 0 0;
	}

	.products-page-info {
		padding: 30px 0;

		.flexxed {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		.sub-text {
			color: $blackish;
			font-family: $rale-font;
			font-size: 20px;
			font-weight: 700;
			padding: 10px 0 0 0;
		}
	}

	h1.products-heading {
		color: $darkest;
	}
}

.search-no-results {
	
	.site-content {
		padding: 190px 0 0 0;
	}
}

.search-none {
	margin: 20px 0;
}

.savings-calc {
	background-color: $darkest;
	clear: both;
	color: $white-color;
	display: block;
	font-size: 15px;
	max-width: 350px;
	padding: 20px 15px;
	width: 100%;
}

.calc-heading {
	border-bottom: 2px solid;
	display: block;
	font-size: 21px;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

.OpenCalc {
	display: block;
	font-weight: 700;
	padding: 10px 0 0 10px;
	position: relative;
	text-transform: uppercase;

	&.flat-btn {
		color: $white-color;

		&:before {
			content: '';
		}
	}

	&:before {
		color: $white-color;
		content: '\f0da';
		font-family: $fa;
		left: 0;
		position: absolute;
		top: 9px;
	}
}

.products-tab-list {
	background-color: $darkest;
	padding: 20px 0 0 0;

	.tab-text {
		text-align: center;
	}
}

.product-tabs {
	color: #bcbec0 !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 10px 0 20px 0;
	
	li {
		border-bottom: 2px solid $lt-gray;
		margin: 0 0 5px 0;
		padding: 3px 0;
		text-align: center;

		&:before {
			content: '';
		}
	}

	a {
		color: $lt-gray;
		font-size: 1.05em;
		font-weight: 700;
		text-transform: uppercase;

		&.active {
			border-bottom: 2px solid;
			padding: 0 0 7px 0;
		}
	}
}

ul.product-tabs {
	margin: 0;
}

.video-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.video-block {
	background-color: $white-color;
	margin: 0 0 20px 0;
	padding: 10px;

	h4 {
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}
}

.product-listings {
	background-color: $grayish;
	padding: 30px 0 15px 0;

	.tabBlock {
		display: none;
		overflow: hidden;
		width: 100%;

		&.visible {
			display: block;
		}
	}

	.product-info {
		background-color: $white-color;
		margin: 0 0 15px 0;
	}

	ul {
		column-width: 320px;
		margin: 0 0 0 20px;

		li {
			font-size: 0.9em;
			margin: 0 0 5px 0;
			padding: 0 0 0 5px;
			position: relative;

			&:before {
				content: '\2022';
				position: absolute;
				left: -7px;
			}
		}
	}
}

.products-list-image {
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	height: 215px;
}

.products-lists-text {
	display: block;
	overflow: hidden;
	padding: 15px 10px;

	.subtitle {
		font-size: .8em;
	}

	h2 {
		border: 0;
		color: $blackish;
		font-size: 26px;
		margin: 0;
		padding: 0;
	}
}

.products-btns-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

// General Page
.industry-links-wrapper {

	p {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
	}
}

.training {
	padding: 0 0 30px 0;

	.constrain {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.training-block {
	background-color: $grayish;
	display: block;
	margin: 0 0 10px 0;
	min-height: 225px;
	padding: 10px;
	position: relative;

	a.training-preview {
		color: $white-color;
		bottom: 15px;
		left: 10px;
		position: absolute;

		&:hover {
			background-color: $white-color;
		}
	}
}

.training-heading {
	border-bottom: 2px solid;
	margin: 0 0 10px 0;
	padding: 0 0 3px 0;
	text-transform: uppercase;
}

.training-details {

	strong {
		text-transform: uppercase;
	}
}

// Multi Module Page
.page-template-multi-template {

	.site-content {
		padding: 160px 0 0 0;
	}

	.header-image {
		min-height: 200px;
	}

	.onethird-width-content,
	.twothird-width-content {
		margin: 0 0 30px 0;

		&:last-of-type {
			margin: 0;
		}
	}

	section {
		overflow: hidden;
		padding: 20px 0;

		&.gray-bg {
			background-color: $lt-gray;
		}
	}

	input,
	select,
	textarea {
		width: 100%;
	}

	.slick-dots {
		display: none !important;
	}
}

// 2 Column Page
.col2-section {

	.flexed {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
}

.col2-block {
	margin: 0 0 10px 0;
	padding: 10px 20px;
}

.col2-video {
	margin: 0 0 20px 0;

	iframe {
		max-height: 200px;
	}
}

.video-title {
    display: block;
    font-size: 0.75em;
    font-weight: 700;
	margin: 0 0 10px 0;
	text-align: center;	
}

// Contact Page
.sidebar-comp-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	        flex-direction: column;

	> div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		        flex-direction: column;
	}

	.top-info {
		margin: 0 0 10px 0;
	}

	.title {
		font-weight: 700;
	}
}

.gmap {
	margin: 20px 0 -8px 0;
}

// Blog and Events Page
.blog {

	.blog-title {
		padding: 0 0 20px 0;
	}
}

.blog, .post-type-archive-events {

	.site-content {
		padding: 210px 0 0 0;
	}

	.entry-content {
		margin: 0;
	}

	article {

		.constrain {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
	}

	article.blog-posts {
		padding: 30px 0;
	
		.flex-wrapper,
		.constrain {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
		}
	
		.entry-meta {
			font-weight: 500;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}
	
		h2 {
			border: 0;
			font-family: $rale-font;
			margin: 0;
			padding: 0;
	
			a {
				color: $blackish;
			}
		}
	
		img {
			display: block;
			margin: 0 0 10px 0;
		}
	
		&:nth-child( odd ) {
			background-color: $grayish;
		}
	}
}

.single-post,
.single-attachment {

	article.blog-posts {

		.flex-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
				-ms-flex-direction: column-reverse;
					flex-direction: column-reverse;
		}

		.entry-header {
			background-color: $grayish;
			padding: 15px;
		}

		h1 {
			font-size: 30px;
			text-transform: uppercase;
		}

		.entry-meta {
			font-weight: 500;
			letter-spacing: 0.5px;
			margin: 0 0 5px 0;
			text-transform: uppercase;
		}
	}

	aside {

		h3 {
			border-bottom: 2px solid $grayish;
			font-weight: 500;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}

		ul li a {
			color: $md-gray;
		}

		.searchform {
			font-style: italic;
			margin: 0 0 30px 0;			
			position: relative;
		}

		.searchfield {
			background-color: $grayish;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;
			width: 100%;
		}

		.searchsubmit {
			background-color: transparent;
			border: 0;
			color: $lt-gray;
			font-size: 20px;
			position: absolute;
			right: 0;
			top: -3px;
		}
	}
}

.single-attachment {
	
	article.blog-posts {

		.flex-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-ms-flex-direction: row;
			    flex-direction: row;
		}
	}
}

.share-article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	        flex-direction: row;
	font-weight: 500;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	        justify-content: space-between;
	letter-spacing: .5px;
	margin: 10px 0 0 0;
	max-width: 250px;
	text-transform: uppercase;
	width: 100%;
}

.share-text {
	margin: 0 10px 0 0;
}

a.share-icon {
	display: block;
	height: 30px;
	position: relative;
	width: 20px;

	&:before {
		font-family: $fa;
	}

	&.facebook:before {
		content: '\f09a';
	}

	&.twitter:before {
		content: '\f099';
	}
	
	&.linkedin:before {
		content: '\f0e1';
	}

	&.google:before {
		content: '\f0d5';
	}

	&.tumblr:before {
		content: '\f173';
	}

	&.pinterest:before {
		content: '\f231';
	}
}

// Single Article
.post-template-default,
.attachment-template-default {

	.site-content {
		padding: 210px 0 0 0;
	}

	article {

		.constrain {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}

		ul {
			column-width: 320px;
			margin: 0 0 0 20px;

			li {
				font-size: 0.9em;
				margin: 0 0 5px 0;
				padding: 0 0 0 5px;
				position: relative;

				&:before {
					content: '\2022';
					position: absolute;
					left: -7px;
				}
			}
		}
	}
}

.single-post {

	.attachment-post-thumbnail {
		margin: 0 auto;
	}
}

.pro-cta,
.page-template-multi-template section.pro-cta {
	color: $white-color;
	padding: 30px 0;
	text-align: center;

	.small-text,
	.large-text,
	a {
		display: inline-block;
	}

	.small-text {
		font-weight: 500;
		letter-spacing: 3px;
	}

	.large-text {
		font-family: 'Raleway', Helvetica, Arial, sans-serif;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.25em;
	}

	a {
		color: $white-color !important;
	}

	.cta-btn {
		margin: 20px 0 0 0;
	}
}

article {

	.postbox-container {
		
		ul {

			li {

				&:before {
					content: '';
				}
			}
		}
	}
}

// Multicolumns Template
.page-template-multicolumns-template {

	.site-content {
		padding: 210px 0 0 0;
		
		.constrain {
			display: block;
		}
	}

	.header-image {
		height: 200px;
		margin: -25px 0 10px 0;
	}
}

.one-columns,
.two-columns,
.three-columns,
.four-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	        justify-content: space-between;
		
	.columns-content-block {
		margin: 0 0 10px 0;
		text-align: center;
		width: 100%;

		img {
			box-shadow: 1px 1px 13px rgba(0,0,0,0.15);			
		}
	}
}

.lnk-bkg {
			
	.columns-content-block {
		color: $white-color;
		margin: 0 0 10px 0;
		padding: 10px;
		text-align: center;
		width: 100%;

		a, h3 {
			color: $white-color;
		}

		.fa {
			margin: 0 10px 0 0;
		}

		img {
			box-shadow: 1px 1px 13px rgba(0,0,0,0.15);			
		}
	}
}

.page-template-callouts-template {

	.callout-blocks {
		padding: 30px 0;
	}

	.main-block {
		padding: 30px 0;
	}

	.callout-block-info {

		.heading {
			font-size: 32px;
			padding: 20px 0 0 0;
		}
	}
}

// Search Results Page
.search-results {

	.site-content {
		padding: 180px 0 0 0;
	}
}

.search-results-content {

	.constrain {
		display: block;
	}
}

// 404 Page
.error404 {

	.site-content {
		padding: 210px 0 0 0;
		text-align: center;
	}
}

.company-mark {
	display: block;
	margin: 30px auto;
	max-width: 400px;
}