/* Just for funs and it looks cool */
::-moz-selection {
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: orange;
	color: #fff;
	text-shadow: none;
}

body {
	color: $font-color;
	line-height: 1.65em;
}

ol {
	margin: 0 0 1.5em 1em;
}

ul {
	padding: 0;
	margin: 0;

	list-style: none;

	li {
		list-style-type: none;
	}
}

a {
	text-decoration: none;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	&:hover {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
}

h1 {
	color: $blackish;
	font-family: $rale-font;
	font-size: 40px;
	line-height: 1.15em;
	margin: 0;
}

h2 {
	border-bottom: 2px solid;
	padding: 0 0 10px 0;
	text-transform: uppercase;
}

.line-heading {
	border: 0;
	color: $darkest;
	font-family: $rale-font;
	text-transform: initial;
}

h4 {
	color: $blackish;
	font-family: $rale-font;
	font-size: 24px;
	font-weight: 300;
	margin: 0 0 1em 0;
}

input, textarea {
	border: 0;
}