.sitetop-links {
	position: fixed;
	display: block;
	height: auto;
	width: 100%;
	z-index: 99999;

	color: $white-color;
	text-align: center;
	text-transform: uppercase;

	.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
		max-width: 1024px;
		margin: 0 auto;
	}

	a {
		display: inline-block;
		padding: 5px 0;

		color: $white-color;
	}

	.more-tab {
		background: $black-color;
		width: 100%;

		font-size: 20px;
		text-align: center;
	}
}

.top-left {
	position: absolute;
	display: block;
	background-color: $black-color;
	overflow-y: auto;
	z-index: 9999;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	.fa-times {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 999;

		font-size: 24px;
	}
}

.top-right {
	display: block;
	background-color: #505050;
	width: 100%;

	color: $white-color;
}

.top-quote,
.request-conversion
 {

	a {
		position: relative;
		padding: 10px 0;

		&:before {
			content: '\f1ec';
			position: absolute;
			left: -25px;

			font-family: $fa;
		}
	}
}

.top-form {
	position: relative;
	background-color: #505050;
	height: 0;
	max-width: 640px;
	z-index: 990;
	overflow-y: auto;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	#close-this {
		float: right;
	    margin: 5px 0 10px 0;

	    font-size: 24px;
	}

	form {
		clear: both;
	}

	input {
		background-color: #dadada;
	    padding: 3px 10px;
		width: calc(100% - 10px);
	}

	input[type=submit] {
		background-color: $white-color;
		line-height: 36px;
		height: 40px;
	}

	label {
		font-size: 10px;
	}

	textarea {
		background-color: #dadada;
	    padding: 3px 10px;
		width: calc(100% - 30px);
	}
}

.mobile-nav {
	position: absolute;
	padding: 50px 0 30px 0;
	height: 100%;
	width: 100%;
	z-index: 99999;

	color: $white-color;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	.menu {
		margin: 30px 0 0 0;
	}

	a {
		display: block;
		padding: 5px 0;

		font-size: 21px;
	}

	#close-this {
		position: absolute;
		top: 10px;
		right: 10px;
	    margin: 5px 0 10px 0;

	    font-size: 24px;
	}

	.social-media-links {
		float: left;
		margin: 0 0 10px 0;
	}

	.fa-search {
		margin: 0 0 0 20px;
	}

	.search-wrapper {
		height: 0;
		overflow: hidden;
		width: 100%;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;

		&.open {
			height: 40px;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
	}

}

.desktop-search-wrapper {
	height: 0;
	overflow: hidden;

	input {
		width: auto !important;
	}
}

.search-wrapper,
.desktop-search-wrapper {

	.search-submit {
		background-color: $white-color;
		max-height: 30px;
		line-height: 20px;
		padding: 5px 10px;
		position: relative;
		top: -1px;		
	}
}

.menu-item-has-children {
	position: relative;

	> a {
		cursor: default;		
	}

	.fa {
		color: $white-color;
		display: block;
		height: 36px;
		position: absolute;
		right: 0;
		width: 36px;

		&:before {
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			text-align: center;
			top: 9px;
		}
	}

	ul.sub-menu {
		display: none;
		overflow: hidden;
		position: relative;
	}
}

.cat-menu-title {
	margin: 5px 0 3px 0;

	a {
		color: black !important;
		cursor: default;
		font-size: 1em;
	}
}

.page-template-homepage .main-header {
	background-color: rgba( $darkest, .75 );
}

.main-header {
	position: absolute;
	top: 70px;
	background-color: rgba( $darkest, 1 );
	padding: 15px 0;
	width: 100%;
	z-index: 10;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	.main-navigation {
		display: none;
	}

	.mobile-nav-btn {
		position: absolute;
		right: 5px;
		top: calc(50% - 20px);
		padding: 0 5px;

		color: $white-color;
		font-size: 24px;
	}

	.social-media-links {
		display: none;
	}

	.fa-search {
		display: none;
	}
}

.search-wrapper {
	height: 0;
}

.main-navigation,
.mobile-nav {
	font-weight: 300;
	overflow: auto;
	text-transform: uppercase;

	a {
		color: $white-color;
	}
}
