.sitetop-links {
	position: fixed;
	display: block;
	// background-color: rgba( $black-color, 0.75 );
	height: auto;
	width: 100%;
	z-index: 99999;

	color: $white-color;
	text-align: center;
	text-transform: uppercase;

	.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column;
	}

	a {
		display: inline-block;
		padding: 5px 0;

		color: $white-color;
	}

	.more-tab {
		background: $black-color;
		width: 100%;

		font-size: 20px;
		text-align: center;
	}
}

.top-left {
	position: absolute;
	display: block;
	background-color: $black-color;
	padding: 10px 0;
	overflow-y: auto;
	z-index: 999;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	.fa-times {
		position: absolute;
		top: 10px;
		right: 10px;

		font-size: 24px;
	}
}

.top-right {
	display: block;
	background-color: #505050;
	width: 100%;

	color: $white-color;
}

.top-quote {

	a {
		position: relative;
		padding: 10px 0;

		&:before {
			content: '\f1ec';
			position: absolute;
			left: -25px;

			font-family: $fa;
		}
	}
}

.top-form {
	position: relative;
	background-color: #505050;
	height: 0;
	z-index: 990;
	overflow-y: auto;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	#close-this {
		float: right;
	    margin: 5px 0 10px 0;

	    font-size: 24px;
	}

	form {
		clear: both;
	}

	input {
		width: calc(100% - 30px);
	}

	textarea {
		width: calc(100% - 30px);
	}
}

.mobile-nav {
	position: absolute;
	padding: 50px 0 30px 0;
	height: 100vh;
	width: 100%;
	z-index: 99999;

	color: $white-color;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

	.menu {
		margin: 30px 0 0 0;
	}

	a {
		display: block;
		padding: 5px 0;

		font-size: 21px;
	}

	#close-this {
		position: absolute;
		top: 10px;
		right: 10px;
	    margin: 5px 0 10px 0;

	    font-size: 24px;
	}

	.social-media-links {
		margin: 0 0 10px 0;
	}

}

.main-header {
	position: absolute;
	top: 74px;
	background-color: rgba( $black-color, 0.5 );
	padding: 15px 0;
	width: 100%;
	z-index: 10;

	.main-navigation {
		display: none;
	}

	.mobile-nav-btn {
		position: absolute;
		right: 5px;
		top: calc(50% - 20px);
		padding: 0 5px;

		color: $white-color;
		font-size: 24px;
	}
}

.main-navigation,
.mobile-nav {
	font-weight: 300;
	text-transform: uppercase;

	a {
		color: $white-color;
	}
}
