@media only screen and ( min-width: 480px ) {

	// Header
	ul.sub-menu {

		li {
			// float: left;
			width: 50%;

			&.cat-menu-title {
				clear: both;
				float: none;
				width: 100%;
			}
		}
	}

	// Classes
	.slider-btn {
		width: 53%;
	}

	// Homepage
	.slider-text {
		max-width: 100%;

		h2 {
			font-size: 55px;
			padding: 0 0 15px 0;
		}
	}

	.pro-cta,
	.page-template-multi-template section.pro-cta  {

		.large-text {
			font-size: 28px;
		}
	}

	.sidebar-gallery {

		ul {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}

		li {
			width: 49%;
		}
	}

	// Products Listing Page
	.product-tabs {

		li {
			padding: 3px 10px;
			width: auto;
		}
	}

	.video-flex {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.video-block {
		width: 48.5%;
	}

	.products-list-image {
		height: 300px;
	}
	
	.products-btns-wrapper {
		float: right;
		width: 370px;
	}

	.products-btn {
		font-size: 16px;
		padding: 5px 15px;
	}

	// General Pages
	.industry-links-wrapper {
		
		p {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;

			a {
				width: 47%;
			}
		}
	}

	// Blog and Events Pages
	.single-post {

		article.blog-posts {
			position: relative;

			.entry-header {
				margin: -20px auto 0 auto;
				position: relative;
				width: 93%;
				z-index: 8;
			}
		}
	}

	// Footer
	.footer-menus {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;

		.footer-menu {
			width: 47.5%;
		}
	}
}

@media only screen and ( min-width: 568px ) {

	// Classes
	.slider-btn {
		padding: 7px 10px;
		width: 45%;
	}

	.results,
	.total {
		float: left;
		width: 50%;
	}

	// Homepage
	.slider-text {

		h2 {
			font-size: 60px;
		}

		p {
			font-size: 20px;
		}
	}

	// Products and Project Listing Pages
	.page-template-products-template,
	.page-template-projects-template,
	.page-template-advantages-template {

		.heading-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin: 0 0 20px 0;
		}

		h1.products-heading {
			display: inline-block;
			font-size: 54px;
		}

		.custom-hr {
			border-bottom: 4px solid $lt-gray;
			margin: 0 0 0 20px;
			width: 100%;
		}
	}

	// General Page
	.training {

		.constrain {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}
	}

	.training-block {
		width: 49%;
	}

	// 2 Column Page
	.col2-section {
	
		.flexed {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
		}

		.column-block {
			width: 48%;
		}
	}

	.two-columns,
	.three-columns,
	.four-columns {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;

		.columns-content-block {
			width: 45%;
		}
	}
}

@media only screen and ( min-width: 640px ) {

	// Classes
	.slider-btn {
		width: 39%;
	}

	// Secondary Pages
	.secondary {

		.header-image {
			min-height: 450px;
		}
	}

	.pro-cta,
	.page-template-multi-template section.pro-cta  {
		
		.large-text {
			display: block;
		}
	}

	.sidebar-gallery {

		li {
			width: 32.5%;
		}
	}

	// Products and Project Listing Pages
	.page-template-products-template,
	.page-template-projects-template,
	.page-template-advantages-template {

		h1.products-heading {
			font-size: 64px;
		}

		.custom-hr {
			height: 60px;
		}
	}

	.product-tabs {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.product-listings {

		.product-info {
			margin: 0 0 20px 0;
		}
	}

	.products-lists-text {
		padding: 30px 50px;
	}
}

@media only screen and ( min-width: 768px ) {

	// Header
	ul.sub-menu li {
		width: 33%;
	}

	// Classes
	.slider-btn {
		margin: 30px auto 0 auto;
		width: 32%;
	}

	.input-half {
		width: 49.5%;
	}

	.input-wrapper {

		&.col-left {
			float: left;
		}

		&.col-right {
			float: right;
		}
	}

	#ContentOverlay {
		width: 710px;
		// height: 470px;
	}

	#CloseCalc {
		overflow: hidden;
	
		a.CloseCalc {
			float: right;
		}
	}

	#CalcInstructions {
		clear: none;
		margin-left: 265px;
		padding: 0 0 0 20px;
	}
	
	#CalcResults {
		clear: none;
		margin-left: 265px;
		padding: 15px;
	}

	.line-heading {
		display: inline-block;
		position: relative;
	
		&:after {
			border-bottom: 2px solid #bbbabb;
			bottom: 0;
			content: '';
			display: block;
			right: -155px;
			position: absolute;
			width: 150px;
		}
	}

	.results,
	.total {
		width: 33.3%;
	}

	.total {
		width: 100%;
	}

	// Homepage
	.slider-text {

		h2 {
			font-size: 80px;
			padding: 0 0 25px 0;
		}

		p {
			font-size: 22px;
		}
	}

	.home-section-block {
		padding: 40px 0;

		h2 {
			margin: 0 0 30px 0;
		}
	}

	.main-home-content {

		.flex-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
					flex-direction: row;
			justify-content: space-between;
		}

		.left-block,
		.right-block {
			width: 48%;
		}

		h2 {
			font-size: 30px;
		}

		.subheading {
			font-family: $rale-font;
			font-weight: 300;
		}

		.text-block {
			margin: 10px 0 0 0;
		}

		.cols2 {
			-webkit-column-gap: 30px;
			        column-gap: 30px;
		}
	}

	.callout-block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
				justify-content: space-between;
		margin: 0;
				
		&:nth-of-type( even ) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
				-ms-flex-direction: row-reverse;
					flex-direction: row-reverse;
		}
	}

	.callout-block-info {
		width: 50%;

		.heading {
			font-size: 40px;
		}
	}

	.callout-block-image {
		width: 50%;
	}

	.sub-content,
	.testimonials,
	.simple-steps {

		h2 {
			font-size: 30px;
		}
	}

	.sub-content {

		.flex-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}

		.left-block {
			width: 55%;
		}

		.right-block {
			display: block;
			width: 42%;

			p {
				margin: 0;
			}
		}

		.cols2 {
			column-width: 100px;
		}

		.sub-content-btn {
			margin: 20px 0 0 0;
		}
	}

	.testimonials {
		
		.flex-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}

		.left-block {
			width: 58%;
		}

		.right-block {
			width: 38%
		}

		p {
			margin: 0;
		}
	}

	.hp-simple-blocks {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;

		.simple-block {
			width: 33%;
		}
	}

	// Secondary Pages
	.secondary {

		.header-image {
			min-height: 500px;
		}


		.pro-cta,
		.page-template-multi-template section.pro-cta {

			.large-text {
				font-size: 36px;
			}
		}		
	}

	// Products and Project Listing Pages
	.page-template-products-template,
	.page-template-projects-template,
	.page-template-advantages-template {

		h1.products-heading {
			font-size: 74px;
		}

		.custom-hr {
			height: 70px;
		}

		.products-page-info {

			.sub-text {
				font-size: 24px;
				line-height: 1.25em;
			}
		}
	}

	.product-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		            flex-grow: 1;
		margin: 0 0 30px 0;

		&:nth-of-type( even ) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
			    -ms-flex-direction: row-reverse;
			        flex-direction: row-reverse;
		}

		&:last-of-type {
			margin: 0;
		}
 	}

	.products-list-image {
		height: initial;
		width: 35%;
	}

	.products-lists-text {
		width: 65%;
	}

	.products-list-heading {
		margin: 0 0 0 -20px;
	}

	.products-btns-wrapper {
		float: none;
	}

	// General Page
	.industry-links-wrapper {
		
		p {

			a {
				width: 27.5%;
			}
		}
	}

	.training-block {
		margin: 0 0 15px 0;
	}

	// Multi Module Page
	.page-template-multi-template {
		
		.header-image {
			min-height: 250px;
		}

		section {

			.flexed {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
					-ms-flex-direction: row;
						flex-direction: row;
				-webkit-box-pack: justify;
					-ms-flex-pack: justify;
						justify-content: space-between;
			}
		}
		
		.module-half {
			width: 48%;
		}

		.half-width-content {
			width: 48%;
		}

		.onethird-width-content {
			width: 31%;
		}

		.twothird-width-content {
			width: 63%;
		}

		h2.line-heading {
			font-size: 30px;
		}
	}
		
	// Blogs and Events Pages
	.blog {

		article.blog-posts {
			
			.constrain {
				-webkit-box-align: center;
					-ms-flex-align: center;
						align-items: center;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
					-ms-flex-direction: row;
						flex-direction: row;
				-webkit-box-pack: justify;
					-ms-flex-pack: justify;
						justify-content: space-between;
			}
	
			h2 {
				font-size: 28px;
			}
	
			.post-content {
				width: 60%;
			}
	
			img {
				height: 100%;
				margin: 0;
				width: 37.5%;
			}

			.flex-wrapper {
				align-items: center;
				flex-direction: row;
				justify-content: space-between;
			}
		}

		.entry-content {
			padding: 0 0 0 30px;
		}
	}		

	.three-columns,
	.four-columns {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;

		.columns-content-block {
			margin: 0 0 20px 0;
			width: 30%;
		}
	}

	// Footer
	.compinfo.flexxed {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 0 auto 10px auto;
		width: 60%;
	}

	.compinfo-column {
		width: 47.5%;
	}

	.footer-contact {
		-webkit-box-align: space-between;
		-ms-flex-align: space-between;
		align-items: space-between;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-flow: wrap;
		    flex-flow: wrap;
		margin: 0;

		.contact {
			height: 20px;
		}
	}

	.footer-logo {
		text-align: left;
	}

	.footer-address.flexxed {
		text-align: left;
	}

	.footer-motto {
		font-size: 18px;
		letter-spacing: 2px;
	}
}

@media only screen and ( min-width: 860px ) {

	// Classes
	.slider-btn {
		max-width: 255px;
	}

	// Secondary Pages
	.sidebar-gallery {

		li {
			width: 24.5%;
		}
	}

	// Products and Project Listing Pages
	.page-template-products-template,
	.page-template-projects-template,
	.page-template-advantages-template {

		.products-page-info {

			.flexxed {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				    -ms-flex-direction: row;
				        flex-direction: row;
			}

			.sub-text {
				padding: 15px;
				width: 35%;
			}

			.page-description {
				padding: 15px;
				width: 65%;

				p {
					margin: 0;
				}
			}
		}
	}

	.video-block {
		width: 32%;
	}

	// General Page
	.training-block {
		width: 32%;
	}
}

@media only screen and ( min-width: 960px ) {

	// Homepage
	.slider-text {

		h2 {
			font-size: 100px;
			padding: 0 0 45px 0;
		}

		p {
			font-size: 24px;
		}
	}

	// Secondary Pages
	.secondary {

		.cta-btn {
			margin: 0;
		}
	}

	.right-block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}

	.pro-cta,
	.page-template-multi-template section.pro-cta {
		padding: 50px 0;

		.constrain {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
				-ms-flex-direction: row;
					flex-direction: row;
			-webkit-box-pack: justify;
				-ms-flex-pack: justify;
					justify-content: space-between;
		}

		.left-block {
			text-align: left;
		}

		.small-text {
			font-size: 22px;
		}

		.large-text {
			font-size: 40px;
		}

		.bottom {
			padding: 0 0 0 95px;
		}
	}

	// Products and Project Listing Pages
	.page-template-products-template,
	.page-template-projects-template,
	.page-template-advantages-template {

		h1.products-heading {
			font-size: 100px;
		}

		.custom-hr {
			height: 95px;
		}

		.products-page-info {

			.sub-text {
				font-size: 30px;
				padding: 20px;
				width: 45%;
			}

			.page-description {
				padding: 20px;
				width: 55%;
			}
		}
	}

	.product-listings {

		.product-info {
			margin: 0 0 45px 0;
		}
	}

	.products-list-image {
		width: 50%;
	}

	.products-lists-text {
		width: 50%;
	}

	// Blogs and Events Pages
	.blog {

		article.blog-posts {
	
			.post-content {
				width: 48%;
			}
	
			img {
				width: 45%;
			}
		}
	}

	// Footer
	.site-footer .flexxed {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.footer-block {
		width: 47.5%;
	}

	.footer-snippet {
		text-align: left;
	}

	.compinfo.flexxed {
		width: 100%;
	}

	.footer-address.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column
	}

	.legal {

		.footer-block {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			width: 60%;
		}

		.legal-box {
			font-size: 15px;
			padding: 0 15px 0 0;
			position: relative;

			&:after {
				content: '|';
				position: absolute;
				right: 5px;
				top: 0;
			}

			&:last-of-type {
				padding: 0;

				&:after {
					content: '';
				}
			}
		}
	}

	// Classes
	a.literature-btn {
		float: left;
		width: 48.25%;

		&:nth-child( even ) {
			float: right;
		}
		
	}
}

@media only screen and ( min-width: 1024px ) {

	// Elements
	table {
	
		tr {

			td, th {
				min-width: 110px;
			}
		}
	}

	// Header
	.main-header {

		.constrain {
			position: relative;
		}
	}

	.sitetop-links {
		background-color: rgba( $black-color, 1 );

		.flexxed {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
		}

		a {
			padding: 10px 0;
		}
	}

	.top-left {
		position: static;
		background: transparent;
		-ms-flex-preferred-size: 75%;
		    flex-basis: 75%;

		.fa-times {
			display: none;
		}

		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-directon: row;
			justify-content: space-around;
		}
	}

	.top-right {
		position: relative;
		-ms-flex-preferred-size: 25%;
		    flex-basis: 25%;

		&:after {
			content: '';
			position: absolute;
			background-color: inherit;
			left: 100%;
			top: 0;
			height: 100%;
			width: 1000px;
		}
	}

	.more-tab {
		display: none;
		-ms-flex-preferred-size: 0;
		    flex-basis: 0;
	}

	.mobile-nav {
		display: none;
	}

	.mobile-nav-btn {
		display: none;
	}

	.desktop-search {
		position: relative;
	}

	.desktop-search-wrapper {
		border-radius: 5px;
		height: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		text-align: center;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		top: 60px;		
		width: 290px;

		&.open {
			box-shadow: $med-shadow;
			height: 40px;
			padding: 5px 0 0 0;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
	}

	.home-slider {

		.slick-arrow {
			border: 2px solid $white-color;
			border-radius: 20px;
			color: $white-color;
			height: 40px;
			position: absolute;
			top: 47%;
			width: 40px;
			z-index: 1;

			&:before {
				font-size: 24px;
			}
		}

		.fa-caret-left {
			left: 2.5%;

			&:before {
				left: 12px;
				position: absolute;
				top: 6px;
			}
		}

		.fa-caret-right {
			right: 2.5%;

			&:before {
				left: 15px;
				position: absolute;
				top: 5px;
			}
		}
	}

	.slider-text {
		top: 37.5%;

		h2 {
			font-size: 120px;
			padding: 0 0 55px 0;
		}
	}

	.main-header {
		position: fixed;
		top: 50px;

		.flexxed {
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}

		.site-motto {
			text-align: center;
			letter-spacing: 4.5px;
			margin-bottom: 20px;
		}

		.main-navigation {
			display: block;
			overflow: visible;
		}

		a {
			color: $white-color;
		}

		.social-media-links {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}

		.fa-search {
			color: $white-color;
			display: block;
		}
	}

	.site-branding {
		-ms-flex-preferred-size: 20%;
		    flex-basis: 20%;
	}

	.main-navigation {
		-ms-flex-preferred-size: 55%;
		    flex-basis: 55%;
	}

	ul.sub-menu li {
		width: 100%;
	}

	.social-media-links {
		-ms-flex-preferred-size: 11%;
		    flex-basis: 11%;
	}

	.main-navigation {

		li.menu-item-has-children:hover > ul.sub-menu {
			opacity: 1;
			top: initial;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
			visibility: visible;
		}

		ul.sub-menu {
			-webkit-box-shadow: 1px 1px 3px rgba( 0, 0, 0, .25 );
			box-shadow: 1px 1px 3px rgba( 0, 0, 0, .25 );
			-webkit-column-count: 2;
			        column-count: 2;
			-webkit-columns: 125px;
			        columns: 125px;
			display: block;
			overflow: hidden;
			opacity: 0;
			padding: 10px;
			position: absolute;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
			visibility: hidden;
			width: 380px;
			z-index: 10;

			a:hover {
				color: $darkest !important;
			}
		}
	}

	.menu-main-menu-container ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;

		font-size: 14px;
	}

	.menu-main-menu-container {

		.fa {
			font-size: 10px;
			height: 20px;
		    right: -20px;
    		top: -3px;
			width: 20px;
		}
	}

	.cat-menu-title {
		border-bottom: 1px solid $black-color;
	}

	.page-template-homepage .main-header {
		position: absolute;
		bottom: 0;
		left: 0;
		top: auto;

		&.locked {
			background-color: rgba( $darkest, 1);
			bottom: auto;
			position: fixed;
			top: 50px;

			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
	}

	// Homepage
	.home-section-block {
		padding: 50px 0;
	}

	.main-home-content {

		h2 {
			font-size: 44px;
			line-height: 1.15em;
		}

		.text-block {
			margin: 20px 0 0 0;
		}

		.cols2 {
			-webkit-column-gap: 50px;
			        column-gap: 50px;
		}
	}

	.callout-block-info {
		padding: 40px;

		.heading {
			font-size: 40px;
		}
	}
	
	article .constrain {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.sub-content,
	.testimonials,
	.simple-steps {

		h2 {
			font-size: 40px;
		}
	}

	// Product Pages
	.secondary {

		.main-block {
			background-color: $white-color;
			margin-top: -100px;
			padding: 30px 50px 20px 20px;
			width: 72.5%;
		}

		.product-sidebar {
			max-width: 327px;
			padding: 45px 0 0 0;
		}
	}

	.pro-cta,
	.page-template-multi-template section.pro-cta {
		padding: 65px 0;
	}

	.sidebar-gallery {

		h2 {
			margin-top: 10px;
		}

		li {
			width: 49%;
		}
	}

	// Products and Project Listing Pages
	.page-template-products-template,
	.page-template-projects-template,
	.page-template-advantages-template {

		article .constrain {
			display: block;
		}
	}

	.side-pro-block {
		max-width: 327px;
	}

	.product-listings {

		.product-info {
			margin: 0 0 60px 0;
		}
	}

	// General Page
	.training-block {
		width: 32.5%;
	}

	// Multi Module Page
	.page-template-multi-template {
		
		.header-image {
			min-width: 300px;
		}

		article {

			.constrain {
				display: block;
			}
		}
	}

// Multicolumns Template
.page-template-multicolumns-template {
	
		.header-image {
			height: 225px;
			margin: -50px 0 10px 0;
		}
	}
	
	// Blog and Events Pages
	.blog {
		
			.blog-title {
				padding: 0 0 40px 0;
			}
		}

	.blog {

		article.blog-posts {
	
			h2 {
				font-size: 36px;
				line-height: 1.1em;
			}
		}
	}

	.post-template-default {
		
		article {

			.constrain {
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
					-ms-flex-direction: row;
						flex-direction: row;
				justify-content: space-between;
			}
		}
	}

	.single-post {

		article.blog-posts {

			.flex-wrapper {
				width: 62.5%;
			}

			aside {
				max-width: 327px;
				width: 32%;
			}
		}
	}

	.four-columns {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;

		.columns-content-block {
			width: 22%;
		}
	}

	// Footer
	.legal {

		.legal-box {
			font-size: 16px;
		}

		.footer-block {
			width: 48.5%;

			&.footer-block-left {
				width: 55%;
			}

			&.footer-block-right {
				font-size: 16px;
				width: 45%;
			}
		}
	}
}

@media only screen and ( min-width: 1080px ) {

	.testimonials {

		.slick-arrow {
			color: rgba( $white-color, 0.6 );
			font-size: 40px;
		}

		.fa-chevron-left {
			left: -35px;
			position: absolute;			
			top: 30%;
		}

		.fa-chevron-right {
			right: -35px;
			position: absolute;			
			top: 30%;
		}
	}
}

@media only screen and ( min-width: 1200px ) {

	// Product Pages
	.secondary {

		.header-image {
			min-height: 550px;
		}
	}

	.page-template-multi-template {

		.header-image {
			min-height: 250px;
		}
	}

	.pro-cta,
	.page-template-multi-template section.pro-cta {
		padding: 75px 0;

		.large-text {
			font-size: 48px;
		}
	}
}

@media only screen and ( min-width: 1440px ) {

	// Product Pages
	.secondary .header-image {
		min-height: 600px;
	}
}