@media only screen and ( min-width: 1024px ) {

	// Header
	.sitetop-links {
		background-color: rgba( $black-color, 0.8 );

		.flexxed {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
		}

		a {
			padding: 10px 0;
		}
	}

	.top-left {
		position: static;
		background: transparent;
		-ms-flex-preferred-size: 75%;
		    flex-basis: 75%;

		.fa-times {
			display: none;
		}

		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-directon: row;
			justify-content: space-around;
		}
	}

	.top-right {
		position: relative;
		-ms-flex-preferred-size: 25%;
		    flex-basis: 25%;
		padding: 10px 0;

		&:after {
			content: '';
			position: absolute;
			background-color: inherit;
			left: 100%;
			top: 0;
			height: 100%;
			width: 1000px;
		}
	}

	.more-tab {
		display: none;
		flex-basis: 0;
	}

	.mobile-nav {
		display: none;
	}

	.mobile-nav-btn {
		display: none;
	}

	.main-header {
		position: fixed;
		top: 64px;

		.flexxed {
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}

		.main-navigation {
			display: block;
		}

		a {
			color: $white-color;
		}
	}

	.site-branding {
		-ms-flex-preferred-size: 20%;
		    flex-basis: 20%;
	}

	.main-navigation {
		-ms-flex-preferred-size: 50%;
		    flex-basis: 50%;
	}

	.social-media-links {
		-ms-flex-preferred-size: 11%;
		    flex-basis: 11%;
	}

	.main-navigation .menu-main-menu-container ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;

		font-size: 14px;
	}

	.page-template-homepage .main-header {
		position: absolute;
		bottom: 0;
		left: 0;
		top: auto;

		&.locked {
			position: fixed;
			bottom: auto;
			top: 64px;

			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
	}
}