@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .home-slider {

    .fa-caret-right {

      &:before {
        top: 6px;
      }
    }
  }

  .products-list-image {
  	height: auto;
  }
}