@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .home-slider {

    .fa-caret-right {

      &:before {
        top: 6px;
      }
    }
  }

  .products-list-image {
  	height: auto;
  }

  .desktop-search-wrapper {

    input[type=search] {
      height: 30px;
    }
  }

  .slider-text h2 {
    font-size: 100px;
  }
}