// ---------------------------------------------------
//    Colors
// ---------------------------------------------------


$white-color: #FFFFFF;
$black-color: #000000;


// ---------------------------------------------------
//    Shadow
// ---------------------------------------------------


$light-shadow: 0 0 1px rgba(0,0,0,0.15);


// ---------------------------------------------------
//    Typography
// ---------------------------------------------------


$robo-font: 'Roboto', Helvetica, Arial, sans-serif;
$rale-font: 'Raleway', Helvetica, Arial, sans-serif;
$fa: 'FontAwesome', sans-serif;


// ---------------------------------------------------
//    Css Transitions
// ---------------------------------------------------


$transition-fast: all 0.15s ease;
$transition-medium : all 0.25s ease;